data/raw/consulta_cand_2024/consulta_cand_2024_AC.csv
data/raw/consulta_cand_2024/consulta_cand_2024_AL.csv
data/raw/consulta_cand_2024/consulta_cand_2024_AM.csv
data/raw/consulta_cand_2024/consulta_cand_2024_AP.csv
data/raw/consulta_cand_2024/consulta_cand_2024_BA.csv
data/raw/consulta_cand_2024/consulta_cand_2024_BRASIL.txt
data/raw/consulta_cand_2024/consulta_cand_2024_CE.csv
data/raw/consulta_cand_2024/consulta_cand_2024_ES.csv
data/raw/consulta_cand_2024/consulta_cand_2024_GO.csv
data/raw/consulta_cand_2024/consulta_cand_2024_MA.csv
data/raw/consulta_cand_2024/consulta_cand_2024_MG.csv
data/raw/consulta_cand_2024/consulta_cand_2024_MS.csv
data/raw/consulta_cand_2024/consulta_cand_2024_MT.csv
data/raw/consulta_cand_2024/consulta_cand_2024_PA.csv
data/raw/consulta_cand_2024/consulta_cand_2024_PB.csv
data/raw/consulta_cand_2024/consulta_cand_2024_PE.csv
data/raw/consulta_cand_2024/consulta_cand_2024_PI.csv
data/raw/consulta_cand_2024/consulta_cand_2024_PR.csv
data/raw/consulta_cand_2024/consulta_cand_2024_RJ.csv
data/raw/consulta_cand_2024/consulta_cand_2024_RN.csv
data/raw/consulta_cand_2024/consulta_cand_2024_RO.csv
data/raw/consulta_cand_2024/consulta_cand_2024_RR.csv
data/raw/consulta_cand_2024/consulta_cand_2024_RS.csv
data/raw/consulta_cand_2024/consulta_cand_2024_SC.csv
data/raw/consulta_cand_2024/consulta_cand_2024_SE.csv
data/raw/consulta_cand_2024/consulta_cand_2024_SP.csv
data/raw/consulta_cand_2024/consulta_cand_2024_TO.csv

.venv/
venv/

__pycache__/
.env
